include ../_mixins/jademin

-var bodyClass = '';
block vars

doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1')

    block title
      title Monica Wu Law

    block meta
      meta(name='description', content='Secure your bitcoin with the open source, HD‑multisignature wallet from BitPay.')

      // Twitter Card data
      meta(name='twitter:card', content='summary')
      meta(name='twitter:site', content='@BitPay')
      meta(name='twitter:title', content='Copay – Secure, Shared Bitcoin Wallet' s18n-attrs="content")
      meta(name='twitter:description', content='Secure your bitcoin with the open source, HD‑multisignature wallet from BitPay.' s18n-attrs="content")
      meta(name='twitter:image', content='https://copay.io/images/social/card.jpg')

      // Open Graph data (Facebook and Reddit)
      meta(property='og:title', content='Copay – Secure, Shared Bitcoin Wallet' s18n-attrs="content")
      meta(property='og:type', content='article')
      meta(property='og:url', content='https://copay.io/')
      meta(property='og:image', content='https://copay.io/images/social/avatar.png')
      meta(property='og:description', content='Secure your bitcoin with the open source, HD‑multisignature wallet from BitPay.' s18n-attrs="content")
      meta(property='og:site_name', content='Copay.io')

    // Favicon
    link(rel="shortcut icon", href="/favicon.ico")

    link(rel='stylesheet', href='/styles/main.css' data-instant-track)
    link(rel='stylesheet', type='text/css', href='//fonts.googleapis.com/css?family=Karla:400,400italic,700')

    script(src='/scripts/system.js')

    include ../_includes/head.html

  body
    block content
      p content

    block footer
      include ../_includes/footer


      script(src='/instantclick/instantclick.js')
      script(src='/wow/dist/wow.js')
      script(src='/scripts/system.src.js')
      script(src='/scripts/system.js')
