<header>
  <div class="container">
    <div class="brand">
      <img class="brand__logo" src="assets/logo.svg" />
      <div class="brand__text">
        <h1>Monica Wu, P.C.</h1>
        <h2 i18n>Immigration Attorney</h2>
      </div>
    </div>
    <div class="language" [ngSwitch]="language">
      <a href="/en/" *ngSwitchCase="'zh'">English</a>
      <a href="/zh/" *ngSwitchDefault>中文</a>
    </div>
  </div>
</header>
<main>
  <router-outlet></router-outlet>
</main>
<footer>
  <div class="container">
    <div class="wu-copyright">
      © {{year}} Monica Wu, P.C.
    </div>
  </div>
</footer>