extends _layouts/primary


block content
  div(role="navigation" style="background: #30545A url('/images/banner.jpg'); background-size: cover; background-position: top;")
    include _includes/main-menu.jade
