<!DOCTYPE html>
<html lang="en-US">
<head>

  <title>Monica Wu - Immigration Law</title>

  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <meta name="keywords" content="immigration attorney, immigration lawyer, lawyer, attorney, work visa, visa, green card" />
  <meta property="og:description" content="We objectively listen and analyze our clients' needs, providing caring, supportive legal advice. To our clients, we always have your best interests in mind when assisting you with your immigration..." />
  <meta property="og:site_name" content="Monica Wu - Immigration Law" />
  <meta property="og:title" content="Monica Wu, P.C. - Attorney at Law and Immigration Specialist - Serving Atlanta, GA" />
  <meta property="og:description" content="We objectively listen and analyze our clients' needs, providing caring, supportive legal advice. To our clients, we always have your best interests in mind when assisting you with your immigration..." />
  <!--<meta property="og:image" content="http://www.monicawulaw.com/uploads/2/2/9/6/22961400/852953228.gif" />-->
  <meta property="og:url" content="http://www.monicawulaw.com/" />

  <!-- use http://www.favicon-generator.org/ to replace files in public/icon-->
  <!--<link rel="icon" type="image/png" sizes="192x192"  href="/assets/icon/android-icon-192x192.png">-->
  <!--<link rel="icon" type="image/png" sizes="32x32" href="/assets/icon/favicon-32x32.png">-->
  <!--<link rel="icon" type="image/png" sizes="96x96" href="/assets/icon/favicon-96x96.png">-->
  <!--<link rel="icon" type="image/png" sizes="16x16" href="/assets/icon/favicon-16x16.png">-->
  <!--<link rel="manifest" href="/assets/manifest.json">-->

  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.0.0-alpha.5/css/bootstrap.min.css">

</head>

<body>
{% block body %}{% endblock %}
</body>
</html>
