<section class="wu-masthead">
  <div class="container">
    <h3 class="wu-masthead__title" i18n>Immigration & Naturalization Legal Services</h3>
    <p class="wu-masthead__sub-title" i18n>
      We listen and analyze our clients' needs, providing caring, supportive legal advice.
    </p>

    <div class="wu-masthead__practice-areas">
      <h3 i18n>Practice Areas</h3>
      <ul class="wu-masthead__services">
        <li>
          <img src="assets/icon-employment.svg">
          <h3 i18n>Employment Based Immigration</h3>
        </li>
        <li>
          <img src="assets/icon-family.svg">
          <h3 i18n>Family Based Immigration</h3>
        </li>
        <li>
          <img src="assets/icon-citizenship.svg">
          <h3 i18n>Citizenship</h3>
        </li>
        <li>
          <img src="assets/icon-business.svg">
          <h3 i18n>Business Immigration</h3>
        </li>
      </ul>
    </div>
  </div>
</section>
<section class="wu-featurette">
  <div class="container">
    <h3 class="wu-featurette__title" i18n>About Monica Wu</h3>
    <div class="wu-profile">
      <img class="wu-headshot" src="assets/monica.png">
      <p i18n>
        Monica Wu has practiced immigration and nationality laws since 2012 and established her own
        practice in 2013. Her practice focuses on employment-based immigration, including H-1B 
        visa, L visa, PERM, EB1, EB2, EB3, TN visa, O-1 visa, E visa, etc; and family-sponsored 
        immigration, including immediate relative, family-based preference categories, fiancé(e) 
        visa, etc. She also provides legal services for naturalization, citizenship through U.S. 
        citizen spouses or parents, change of status and extension of status applications. She 
        obtained a Bachelor of Laws degree (LL.B.) from Peking University Law School, and a Master 
        of Laws degree (LL.M.) from Washington University School of Law. She is licensed in New 
        York and practice immigration and nationality laws only. Monica speaks Mandarin Chinese.
      </p>
    </div>
  </div>
</section>

<section class="wu-featurette">
  <div class="container">
    <h3 class="wu-featurette__title" i18n>Appointments</h3>

    <dl class="appointments__dl">
      <dt i18n>Hours</dt>
      <dd i18n>by appointment only</dd>

      <dt i18n>Address</dt>
      <dd>
        <div>10475 Medlock Bridge Rd</div>
        <div>Suite 310</div>
        <div>Johns Creek, GA 30097</div>
      </dd>
    </dl>

    <dl class="appointments__dl">
      <dt i18n>Phone</dt>
      <dd>(678) 691-4789</dd>

      <dt i18n>Email</dt>
      <dd><a href="mailto:mwu@monicawulaw.com">mwu@monicawulaw.com</a></dd>

      <dt i18n>Fax</dt>
      <dd>(470) 545-9416</dd>
    </dl>

    <iframe
      src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d826.5914665037969!2d-84.184909870733!3d34.03448489878818!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x88f598b4c3970a95%3A0xa564d684eebc0ce3!2sMonica+Wu%2C+P.C.!5e0!3m2!1sen!2sus!4v1550614293385"
      class="map" width="100%" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
  </div>
</section>